.movies-card {
  display: flex;
  flex-direction: column;
  max-width: 24vw;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  margin: 0 auto;
  width: 100%;
  background: #222222;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.movies-card__info-container {
  display: flex;
  justify-content: space-between;
  padding: 18px;
}

.movies-card__name {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movies-card__duration {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #8B8B8B;
  padding: 0;
  margin: 0 0 0 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70px;
  width: 100%;
}

.movies-card__button {
  background: #313131;
  border-radius: 30px;
  font-weight: 400;
  color: #FFFFFF;
  width: 100px;
  height: 29px;
  margin: 18px auto;
  padding: 9px;
  font-size: 12px;
  line-height: 11px;
  background-repeat: no-repeat;
  background-position: center;
}

.movies-card__button_type_image {
  background-image: url("../../images/button/btn-del.svg");
}

.movies-card__button_type_clicked {
  background: #EE3465;
  background-image: url("../../images/button/btn-saved.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.movies-card__button-text {
  margin: auto;
  padding: 0;
  font-size: 12px;
  line-height: 11px;
}

.movies-card__btn-image {
  margin: auto;
}

.movies-card__image {
  width: 100%;
  max-height: 13.8vw;
  height: 100%;
}

.movies-card__image-wrapper {
  display: contents;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .movies-card {
    max-width: 40vw;
  }

  .movies-card__image {
    max-height: 24.7vw;
  }
}

@media screen and (max-width: 600px) {
  .movies-card {
    max-width: 300px;
    margin: 0 auto;
  }
  
  .movies-card__name {
    font-size: 12px;
  }

  .movies-card__duration {
    font-size: 10px;
  }

  .movies-card__image {
    max-height: 52.5vw
  }
}

