.movies-list {
  display: flex;
  flex-direction: column;
}

.movies-list__search-wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #424242;
  padding: 80px 0 40px;
}

.movies-list__checkbox-wrapper {
  margin: 20px auto 0;
}

.movies-list__default-title {
  margin: 25px auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

@media screen and (max-width: 500px) {
  .movies-list__default-title {
    font-size: 12px;
  }
}