.portfolio {
  font-style: normal;
  font-weight: 400;
  padding: 0 0 125px;
}

.portfolio__heading {
  color: #8B8B8B;
  font-size: 18px;
  line-height: 20px;
  padding: 0;
  margin: 0 0 50px;
}

.portfolio__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio__list li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #424242;
}

.portfolio__list li:last-child {
  border: none;
}

.portfolio__item {
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 20px 0;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  color: white;
}

.portfolio__image {
  max-width: 29px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding-bottom: 90px;
  }

  .portfolio__heading {
    color: #A0A0A0;
  }

  .portfolio__list li {
    border-color: #E6E6E6;
  }

  .portfolio__item {
    font-size: 28px;
  }

  .portfolio__image {
    max-width: 27px;
  }
}

@media screen and (max-width: 500px) {
  .portfolio {
    padding-bottom: 70px;
  }

  .portfolio__heading {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .portfolio__item {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__image {
    max-width: 18px;
  }
}