.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__input {
  background: #2F2F2F;
  border-radius: 4px;
  width: 100%;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
}

.search-form__input:focus {
  border-bottom: 1px solid #4285F4;
}

.search-form__button {
  width: 70px;
  height: 44px;
  background: #4285F4;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 0 10px;
  align-self: center;
  caret-color: white;
}

@media screen and (max-width: 500px) {
  .search-form__input {
    font-size: 12px;
  }
}