.techs {
  background-color: #272727;
  margin: 0 -70px;
  padding-left: 70px;
  padding-right: 70px;
  letter-spacing: -0.04em;
}

.techs__description {
  text-align: center;
}

.techs__list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}

.techs__item {
  display: flex;
  width: 90px;
  height: 60px;
  background: #303030;
  border-radius: 10px;
}

.techs__item:last-of-type {
  margin-right: auto;
  margin-bottom: auto;
}

.techs__item-name {
  margin: auto;
}

@media screen and (max-width: 767px) {
  .techs__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .techs {
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 -50px;
  }

  .techs__description {
    max-width: 460px;
  }

  .techs__item {
    width: 84px;
    height: 57px;
  }

  .techs__item-name {
    font-size: 12px;
    line-height: 15px;
  }
}
  
@media screen and (max-width: 500px) {
  .techs {
    padding-left: 14px;
    padding-right: 14px;
    margin: 0 -14px;
  }

  .techs__description {
    max-width: 292px;
    margin: 24px 0 50px;
  }

  .techs__list {
    grid-template-columns: repeat(2, 1fr);
  }
}